{% extends 'main.html' %}

{% block content %}

<div>
    <form method="POST">
        {% csrf_token %}
        <div class="form1">
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Enter city name">
                <button type="submit" class="btn btn-add">Add City</button>
            </div>
        </div>
    </form>
</div>
<div class="container">
    {% for city_weather in data %}
    <div class="box">
        <img src="https://openweathermap.org/img/w/{{  city_weather.icon  }}.png" width="100px">
        <p>City: <span class="capitalize">{{city_weather.city}}</span></p>
        <p>Temperature: {{city_weather.temperature}}</p>
        <p>Description: <span class="capitalize">{{city_weather.description}}</span></p>
        <form method="POST" action="{% url 'delete_city' %}">
            {% csrf_token %}
            <input type="hidden" name="city_name" value="{{ city_weather.city }}">
            <button type="submit" class="btn btn-delete">Delete</button>
        </form>
    </div>
    {% endfor %}
</div>

{% endblock content %}
